<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link href="/stylesheets/footer.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">

</head>

<body>
    <footer>
        <p>
            Powered by&nbsp;
            521H0426 - Lê Cẩm Tú,&nbsp;
            521H0313 - Nguyễn Kiều Thủy Tiên,&nbsp;
            521H0516 - Phan Anh Tuấn&nbsp;
            All rights reserved
        </p>
    </footer>
</body>

</html>