<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Statistic</title>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
    <link href="../public/stylesheets/statistic.css" rel="stylesheet">

</head>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(function () {
        $("#nav").load("./nav.html");
        $("#footer").load("./footer.html");
    });
</script>

<body>
    <div id="nav"></div>
    <section>
        <form>
            <h1>Give up</h1>
        </form>
    </section>
    <div id="footer"></div>
</body>

</html>