*{
    padding:0;
    margin:0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E0EEEE;
  }


.alert {
  padding: 20px;
  background-color: #f2dede; 
  color: rgb(138, 37, 37);
  margin-bottom: 15px;
  border-radius: 10px;
}

form p {
    position: relative;
}

form i {
    position: absolute;
    right: -10px; 
    top: 80%;
    transform: translateY(-50%);
    cursor: pointer;
    color: black;
}

form {
    margin: 2% auto;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    border: 2px solid rgb(140, 140, 140);
    padding: 3% 4%;
    border-radius: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

form h1{
    text-align: center;
    color: rgb(140, 206, 185);

}

label {
    display: block;
    margin-top: 20px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #999999;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #999999;
    border-radius: 4px;
}

button {    
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 4% 0;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: block; /* Change this from inline-block to block */
    margin: 3% auto; /* Add this line */
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #19741e;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    form {
        margin: 5% auto;
        background-color: rgb(37, 37, 37);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        border: 2px solid rgb(140, 140, 140);
        padding: 3% 4%;
        border-radius: 20px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: white;
    }
    input[type="password"] {
        width: auto;
        padding: 10px;
        margin-top: 1px;
        border: 1px solid #999999;
        border-radius: 4px;
    }
}

@media screen and (max-width: 768px) {
    form {
        margin: 8% auto;
        background-color: rgb(37, 37, 37);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        border: 2px solid rgb(140, 140, 140);
        padding: 3% 6%;
        border-radius: 20px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: white;
    }

    input[type="password"] {
        width: auto;
        padding: 10px;
        margin-top: 1px;
        border: 1px solid #999999;
        border-radius: 4px;
    }

    label {
        display: block;
        margin-top: 10px;
    }           
    
    ::placeholder{
        font-size: 12px;
    }
}