body{
    background-color: #E0EEEE;
  }
  form h1{
    color:#97ebad;
    font-size: 35px;
    padding-bottom:2%;
  }
  .input-group-text, input {
    width: 45%;
    background-color: lightgray;
    font-weight:bold;
    border-right: 2px solid black;
    }

::placeholder{
  font-size: 17px;
}
    button{
      margin-top:5%;
    }